@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<events.tac.local.Models.IEventDetailsList>

<h1>@Model.Name Events </h1>

@foreach (var item in Model.Children) {
    <p>@item.ContentHeading</p>
    <br />
}