@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<events.tac.local.Models.IEventDetailsList>

<div class="container">
    <div class="row">
        <h1>@Model.Name Events </h1>
    </div>
    <div class="row">
        @foreach (var item in Model.Children)
        {
            @Html.Partial("/Views/TAC/Events/EventDetails.cshtml", item);
        }
    </div>
</div>