@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<events.tac.local.Models.IEventSection>

<h1>Our Events</h1>

@foreach (var item in Model.Children)
{
    <h2>
        <a href="@item.Url">
            @item.Name Events
        </a>
    </h2>
}