<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<defaultEventsIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
					<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
						<indexAllFields>false</indexAllFields>
						<include hint="list:AddIncludedTemplate">

							<!--Include templates in the index-->

							<EventDetails>{AB86861A-6030-46C5-B394-E8F99E8B87DB}</EventDetails>

						</include>
						<include hint="list:AddIncludedField">

							<!--Include fields in the index-->

							<contentheading>{5A24E965-8B50-4154-AA98-157687DEE85D}</contentheading>
							<contentintro>{E3621199-BEB5-4241-B9C1-AC85596EBCA1}</contentintro>
							<startdate>{30FB1244-8680-4FC4-8335-AE0F92EC0E05}</startdate>

						</include>

					</documentOptions>
					<initializeOnAdd>false</initializeOnAdd>
					<fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
						<!--<typeMatches hint="raw:AddTypeMatch" ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap/typeMatches/*"/>-->
						<typeMatches hint="raw:AddTypeMatch">
							<typeMatch typeName="text" type="System.String" fieldNameFormat="{0}_t" cultureFormat="_{1}" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
							<typeMatch typeName="datetime" type="System.DateTime" fieldNameFormat="{0}_tdt" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
							<typeMatch typeName="string" type="System.String" fieldNameFormat="{0}_s" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
						</typeMatches>
						<fieldNames hint="raw:AddFieldByFieldName">
							<!-- how fields are indexed -->

							<!-- Add your field configuration here -->

						</fieldNames>

					</fieldMap>
					<!-- **** Inherited default configuration **** -->
					<fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders" />
					<indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
					<indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
					<documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />

				</defaultEventsIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>